
body{
                background-color: #90d5ec;
background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
 
                font-family: Helvetica;
            }
            
            h1 {
                color: #90d5ec;
               font-weight property:700 ;
            }
            
            h2 {
                color: #90d5ec;
            }
            
            h3 {
                color: #90d5ec;
            }
            h4 {
                color: #90d5ec;
            }
            h5 {
                color: #90d5ec;
            }
            h6 {
                color: #90d5ec;
            }
            img.profilePic {
                width: 250px;
            }
            
            #css {
                font-style: italic;
                color: #BB00CC;
            }
            
            p {
                font-size: 20px;
            }
            
            canvas {
                border: 1px solid black;
                background-color: white;
            }
           .code {
                color: blue;
            }
.current {
                color: blue;
            }
#future {
                color: red;
            }
